@page
@model EXE2.Pages.ForgotPasswordModel



<h2>Forgot Password</h2>



<form method="post">
    <div class="form-group">
        <label>Enter your email</label>
        <input asp-for="Email" class="form-control" type="email" required />
    </div>
    <button type="submit">Send OTP</button>
</form>

@section Scripts {
    <script>
        window.onload = function () {
            var message = '@TempData["ErrorMessage"]';
            if (message) {
                alert(message);
            }
        };
    </script>
}



